{% extends 'item_log/base_theme.html' %}

{% block content %}
    <!-- Page heading-->
    <h1 class="mb-5">제품 시리얼 입력</h1>
    <!-- Signup form-->
    <!-- * * * * * * * * * * * * * * *-->
    <!-- * * SB Forms Contact Form * *-->
    <!-- * * * * * * * * * * * * * * *-->
    <!-- This form is pre-integrated with SB Forms.-->
    <!-- To make this form functional, sign up at-->
    <!-- https://startbootstrap.com/solution/contact-forms-->
    <!-- to get an API token!-->
    <form class="form-subscribe" id="searchForm">
        <!-- product serial address input-->
        <div class="row">
            <div class="col">
                <input class="form-control form-control-lg" id="productSerial" type="serial" placeholder="serial" />
                {% comment %} data-sb-validations="required,email" /> {% endcomment %}
                {% comment %} <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div> {% endcomment %}
                {% comment %} <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div> {% endcomment %}
            </div>
            <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">검색</button></div>
        </div>
        <!-- Submit success message-->
        <!---->
        <!-- This is what your users will see when the form-->
        <!-- has successfully submitted-->
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                <p>To activate this form, sign up at</p>
                <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
        </div>
        <!-- Submit error message-->
        <!---->
        <!-- This is what your users will see when there is-->
        <!-- an error submitting the form-->
        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
    </form>
{% endblock %}