{% extends 'adminpage/layout-static.html' %}
{% block links %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock %}
{% block contents %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container" style="position:absolute; top:5%; left:5%; float: none; margin: 100 auto">
        <div class="row">
            <div class="mb-3 align-items-center">
            {% comment %} {{ form.as_div }} {% endcomment %}
            {% for field in form %}
                <div class="form-label">
                    {% if field.label == "부품 시리얼" %}
                        {{ field.label }}(부품과 제품중 하나만 선택가능): <div>{{ field }} </div>
                    {% elif field.label == "제품 시리얼" %}
                        {{ field.label }}(부품과 제품중 하나만 선택가능): <div>{{ field }} </div>
                    {% else %}
                        {{ field.label }}: {{ field }}
                    {% endif %}
                </div>
            {% endfor %}
            </div>
            <div class="d-flex justify-content-center">
                <div class="sumit-col">
                    <input type="submit" class="btn btn-dark" value="저장" name="save">
                    <a href="{% url 'item_log:fault_history_list' %}"  class="btn btn-dark">취소</a>
                </div>
            </div>
        </div>    
    </div>
</form>

<script>
    $(document).ready(function() {   
        $("#part_list").select2();   
      });
</script>
<script>
    $(document).ready(function() {   
        $("#product_list").select2();   
      });
</script>
{% endblock %}