
{% extends 'adminpage/tables.html' %}
{% load static %}
{% block subtitle %}고장이력 리스트{% endblock %}

{% block create_form_link %}
<div class="col"><a href="{% url 'item_log:fault_history_create' %}"><i class="fa-solid fa-circle-plus"></i>고장이력 추가</a></div>
{% endblock %}
{% block table_contents %}
    <thead>
        <tr>
            <th>부품 시리얼</th>
            <th>고장유형</th>
            <th>고장일</th>
            <th>고장원인</th>
            <th>구출기관</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>부품 시리얼</th>
            <th>고장유형</th>
            <th>고장일</th>
            <th>고장원인</th>
            <th>구출기관</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
    </tfoot>
    <tbody>
    {% for fault in fault_histories %}
        <tr>
            <td>{{ fault.parts }}</td>
            <td>{{ fault.date|date:'Y-m-d' }}</td>
            <td>{{ fault.fault_type }}</td>
            <td>{{ fault.cause }}</td>
            <td>{{ fault.repair_company }}</td>
            <td> 
                <a href="{% url 'item_log:fault_history_detail_view' fault.id %}"><i class="fa-sharp fa-solid fa-pen-nib"></i></a>
            </td>
            <td> 
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#delete_modal" data-bs-id="{{ fault.parts }}" data-bs-type="고장 이력" data-bs-todo="{% url 'item_log:fault_history_delete_view' fault.id %}"><i class="fa-solid fa-trash-can"></i></button>
            </td>
        </tr>
    {% empty %}
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    {% endfor %} 
    </tbody>
    
    <!-- Modal -->
    <div class="modal" id="delete_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">삭제확인</h5>
            </div>
            <div class="modal-body">
                body-text
            </div>
            <div class="modal-footer">
                <a href=""><button type="button" class="btn btn-primary btn-lg">삭제</button></a>
                <button type="button" class="btn btn-dark btn-lg" data-bs-dismiss="modal">취소</button>
            
            </div>
        </div>
        </div>
    </div>
    
    <script src="{% static 'adminpage/js/delete_confirm_modal.js' %}"></script>
{% endblock %}
