{% extends 'adminpage/layout-static.html' %}
{% load static %}
{% block contents %}
    <div class="container" style='position:absolute; top:5%; left:5%; float: none; margin: 100 auto'>    
        <form action="" method="POST" accept-charset="utf-8">
            {% csrf_token %}
            <div class="row">
                <div class="mb-3 align-items-center">
                    {% for field in form %}
                    <div class="form-label">
                        {{ field.label }}: {{ field }}
                    </div>
                    {% endfor %}
                    {% comment %} {{ form.as_div }}  {% endcomment %}
                </div>
                <div class="d-flex justify-content-center">
                    <div class="sumit-col">
                        <input type="submit" class="btn btn-dark" value="저장" name="save">
                        <a  href="{% url 'item_log:parts_type_list' %}" class="btn btn-dark">취소</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
            
{% endblock %}